[submodule "lib/vendor/propel"]
	path = lib/vendor/propel
	url = https://github.com/omsz/Propel.git
	branch = master
[submodule "lib/vendor/phing"]
	path = lib/vendor/phing
  	url = https://github.com/omsz/phing.git
	branch = master
